In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [7]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]

In [9]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [10]:
from sklearn.model_selection import train_test_split         
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedman_mse'],'max_features': ['auto','sqrt','log2'],'splitter':['best','random']}
grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)
grid.fit(X_train, y_train)

C:\Users\vignesh\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done  39 out of  54 | elapsed:    3.1s remaining:    1.1s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:    3.1s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeRegressor(criterion='mse', max_depth=None,
                                             max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort=False, random_state=None,
                                             splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [14]:
re=grid.cv_results_
grid_predictions = grid.predict(X_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'auto', 'splitter': 'random'}: 0.6775031403862635

In [15]:
table=pd.DataFrame.from_dict(re)

In [16]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.008734,0.001927,0.000000,0.000000,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.578059,0.704951,0.627500,0.636837,0.052223,5
1,0.004394,0.003481,0.009923,0.002075,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.591024,0.647372,0.600247,0.612881,0.024678,9
2,0.013169,0.001070,0.006859,0.002337,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.591738,0.690151,0.541677,0.607855,0.061676,10
3,0.008358,0.005316,0.009616,0.000801,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.292073,0.615277,0.671361,0.526237,0.167155,18
4,0.006526,0.000482,0.006783,0.003397,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.647992,0.491784,0.550673,0.563483,0.064412,15
5,0.005071,0.001184,0.004316,0.000929,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.509955,0.600787,0.681490,0.597411,0.070069,12
6,0.036575,0.005122,0.003903,0.000792,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.630418,0.616663,0.671609,0.639563,0.023345,4
7,0.022519,0.000477,0.003962,0.000711,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.582756,0.702712,0.615394,0.633621,0.050640,6
8,0.024198,0.002527,0.004206,0.002708,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.619767,0.401376,0.615793,0.545645,0.102027,17
9,0.014414,0.001143,0.003259,0.002916,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.535651,0.627995,0.653351,0.605666,0.050579,11
10,0.020924,0.003481,0.003206,0.002667,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.651921,0.353038,0.673421,0.559460,0.146226,16
11,0.013531,0.002516,0.001373,0.001449,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.518473,0.690007,0.503323,0.570601,0.084659,13
12,0.005382,0.004009,0.005153,0.002637,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.556541,0.704689,0.631618,0.630949,0.060483,7
13,0.002887,0.001741,0.003819,0.000867,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.670595,0.700737,0.685365,0.685566,0.012306,1
14,0.002484,0.001061,0.001631,0.001241,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.641476,0.681625,0.702458,0.675186,0.025309,2
15,0.003117,0.000692,0.001695,0.001218,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.543443,0.532281,0.624554,0.566759,0.041120,14
16,0.001273,0.001163,0.002217,0.002100,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.583293,0.639092,0.669039,0.630475,0.035532,8
17,0.002657,0.002184,0.002302,0.002247,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.653690,0.717341,0.594892,0.655308,0.050003,3

In [19]:
age=int(input("Age:"))
bmi=float(input("BMI:"))
children=int(input("Children:"))
sex=int(input("Sex Male 0 or 1:"))
smoker=int(input("Smoker Yes 0 or 1:"))

Age:28
BMI:38
Children:2
Sex Male 0 or 1:0
Smoker Yes 0 or 1:0

In [20]:
Future_Prediction=grid.predict([[age,bmi,children,sex,smoker]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[12485.8009]